.titulo{
    text-align:center;
    margin:30px auto;
    color: white;
    background-color: #2EA3BC;
    width:30%;
    border-radius:10px;
    padding:15px;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 2.6px;
}

.alinhamento_accordion{
    max-width:70%;
    margin:0 auto;
}

.text_align{
    text-align:end;
    color:white;
    padding:20px;
}

.text_space{
    padding:10px;
    color:white;
}

@media (max-width: 950px) {
    .titulo{
        width:60%;
    }
    .alinhamento_accordion{
        max-width:90%;
    }
}
