
.alinhamento_image{
    display:flex;
    justify-content:center;
    padding-top:70px;
}

.image{
    width: 70%;
    height: auto;
    border-radius: 8px;
}


@media (max-width: 950px) {
    .image{
        width: 100%;
        height: auto;
    }
}
